.root {
    background-color: #000;
    box-shadow: 0 1px rgb(var(--venia-border));
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-row-gap: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.open {
    composes: root;
}

.closed {
    composes: root;
}

.toolbar {
    align-content: center;
    align-items: center;
    position: relative;
    min-height: 3.5rem;
    padding: 0 1rem;
}

.headerLeft {
    position: absolute;
    left: 10px;
    top: 5px;
}

.headerLeft a {
    display: block;
}

.logo {
    grid-area: title;
}

.primaryActions {
    position: absolute;
    right: 10px;
    top: 5px;
}

.secondaryActions {
    grid-area: secondary;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.searchFallback {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.input {
    composes: input from '../../TextInput/textInput.css';
    max-width: 24rem;
}

.loader,
.loader:before,
.loader:after {
    --dot-size: 2em;
    --dot-font-size: 6px;
    --dot-shadow-offset: calc(-1 * var(--dot-size) + var(--dot-font-size));
    border-radius: 50%;
    width: var(--dot-size);
    height: var(--dot-size);
    animation: pulse 1.8s infinite ease-in-out;
    animation-fill-mode: both;
}

.loader {
    color: rgb(var(--venia-grey-dark));
    font-size: var(--dot-font-size);
    margin: var(--dot-shadow-offset) auto 0;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    color: rgb(var(--venia-grey));
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    color: rgb(var(--venia-grey-darker));
    left: 3.5em;
}

@keyframes pulse {
    0%,
    80%,
    100% {
        box-shadow: 0 var(--dot-size) 0 -1.3em;
    }
    40% {
        box-shadow: 0 var(--dot-size) 0 0;
    }
}
