.root {
    padding: 0 10px;
}
.item {
    background: #00558B;
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
}
.item h3 {
    font-size: 50px;
    font-weight: 700;
}
.item p {
    padding-top: 10px;
    text-align: justify;
    line-height: 10px;
}